@font-face {
    font-family: edo;
    src: url(edosz.ttf);
  }

body {
    font-family: sans-serif !important;
    font-size: 1.5rem !important;
    background-color: black !important;
}


.viewp{
    height:100vh;
}

.blood-text {
    color: #880808 !important
}

.edo {
    font-family: edo;
}